<?xml version="1.0" encoding="utf-8" ?>
<!-- This is not a valid dashboard.config; rather these lines should be -->
<!-- added to your dashboard.config in the appropriate buildPlugin Section -->

<dashboard>
  <plugins>
    <buildPlugins>
      <!--Minimum Required Arguments-->
      <!--Note you need to give the fully qualified path, subsequent examples omit the path-->
      <!--Otherwise the path is relative to where the plugin is running from (usually ASP.NET Temporary Files)-->
      <externalLogProcessorBuildPlugin description="My Sample External Parser" actionName="SampleExternalParser" externalLogProcessor="C:\Program Files (x86)\CruiseControl.NET\webdashboard\SampleExternalParser\sample.externallogprocessor.exe" />

      <!--Optional Argument Attribute-->
      <externalLogProcessorBuildPlugin description="My Sample External Parser" actionName="SampleExternalParser" externalLogProcessor="sample.externallogprocessor.exe" arguments="arg1 arg2" />

      <!--This also supports Project-Configurable Attributes similar to the built in xslReportBuildPlugin-->
      <!--Includes only projects named below-->
      <externalLogProcessorBuildPlugin description="My Sample External Parser" actionName="SampleExternalParser" externalLogProcessor="sample.externallogprocessor.exe">
        <includedProjects>
          <projectName>My Project</projectName>
          <projectName>My Other Project</projectName>
        </includedProjects>
      </externalLogProcessorBuildPlugin>

      <!--Excludes only projects named below-->
      <externalLogProcessorBuildPlugin description="My Sample External Parser" actionName="SampleExternalParser" externalLogProcessor="sample.externallogprocessor.exe">
        <excludedProjects>
          <projectName>My Project</projectName>
          <projectName>My Other Project</projectName>
        </excludedProjects>
      </externalLogProcessorBuildPlugin>
    </buildPlugins>
  </plugins>
</dashboard>